.main{
    width: 90%;
    height: 1000px;
    margin: 0% auto;
    padding: 20px;
    background-color: rgb(223, 217, 217);
}
.left{
    background-color: black;
    color: rgb(247, 239, 224);
    width: 50%;
    float: left;
    height: 500px;
}
.left form table{
    margin: 10% auto;
    
}
.right{
    background-color:rgb(247, 239, 224) ;
    color: black;
    float: right;
    width: 50%;
    height: 500px;
    background-image: url("./../../e399e8026411f078a697c16415c48c79.jpg");
    
}
.right form table{
    margin: 10% auto;
    
}