*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
}
nav{
    box-shadow: rgba(0,0,0,0.5);
    width: 100%;
}
ul,li{
    list-style-type: none;
    display: inline-block;
    margin-top: 4px;
    font-size: 16px;
    margin-left: 74px;
}
nav a  {
    text-decoration: none;
    color: #000;
}
nav .logo{
    margin-left: 23px;
    margin-top: 4px;
    cursor: pointer;
    display: inline-block;
}
.sin-btn{
    padding: 8px 35px ;
    margin-left: 90px;
    margin-top: 6px;
    margin-right: -110px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid green;
    background: transparent;
    transition: 0.5s;
    cursor: pointer;
}
.sin-btn:hover{
    background-color: green;
    border: 0;
    color: #fff;
}
.sin-up-btn{
    padding: 8px 35px ;
    margin-left: 160px;
    margin-top: 6px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: green;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
    margin-right: 40px;
}
.sin-up-btn:hover{
    border: 1px solid green;
    background: none;
    color: #000;
}
.btn{
    float: right;
}